<html>
  <head>
    <title>Home Page</title>
    {% load static %}
    <link href="{% static 'login/Invent.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="net">
      <center>
  <h1>You have sucessfully logged in to your inventory!</h1>
  <p> Choose from the options below:</p>
  <ul>
    <div class="container">
    <img src="Desktop/books.png">
    <button class="btn">Start New Inventory</button>
  </div>
  <div class="container">
    <img src="Desktop/books.png">
    <button class="btn">Add Items to Inventory</button>
  </div>
  <div class="container">
  <img src="Desktop/books.png">
  <button class="btn">Update Amounts of Items in Inventory</button>
  </div>
    </ul>

      </center>
    </div>
  </body>
</html>
