<html>
  <head>
    <title>Home Page</title>
    {% load static %}
    <link href="{% static 'login/Invent.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="net">
      <center>
  <h1>You have sucessfully logged in to your inventory!</h1>
  <p> Choose from the options below:</p>

  <div class="option-net">
    <button class="btn">Start New Inventory</button>
  

    <button class="btn">Add Items to Inventory</button>

  <button class="btn">Update Amounts of Items in Inventory</button>
</div>

      </center>
    </div>
  </body>
</html>
