<html>
  <head>
    <title>Sign Up</title>
    {% load static %}
    <link href="{% static 'login/Invent.css' %}" rel="stylesheet" />
  </head>
  <body>
  <div class="net">
    <header class="page">
      <h2>Welcome to the Inventory Project!</h2>
      <nav>
        <ul>
          <li> <a href="/About">About</a></li>
          <li> <a href="Support">Support</a></li>
        </ul>
      </nav>
    </header>
    <center>
      <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
      </form>
    </center>
  </div>
  </body>
</html>
