.net {
  width: 90%;
  margin: 5px auto;
}
body {
  background-color: #f1f1f1;
}
form {
  width: 500px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-clip: padding-box;
  display: block;
}
form input[type="text"] {
  width: 300px;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
  text-align: right;
  margin-left: 5px;
  border: none;
  border-bottom: 1px solid blue;
  border-radius: 5px;
  color: black;
}
form input[type="password"] {
  width: 300px;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
  text-align: right;
  margin-left: 5px;
  border: none;
  border-bottom: 1px solid blue;
  border-radius: 5px;
  color: black;
}
form button {
  color: white;
  padding: 5px;
  background-color: blue;
  border: none;
  border-radius: 3px;
  display: block;
  text-align: center;
}
form button:hover {
  box-shadow: 5px 5px 5px gray;
}
