<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Inventory</title>
    {% load static %}
    <link href="{% static 'login/Invent.css' %}" rel="stylesheet" />
  </head>
  <body>
  <div class="net">
    <header class="page">
      <h2>Welcome to the Inventory Project!</h2>
      <nav>
        <ul>
          <li> <a href="/About/">About</a></li>
          <li> <a href="/Support/">Support</a></li>
        </ul>
      </nav>
    </header>
    {% block content %}

    {% endblock %}
  </div>
  </body>
</html>
