{% extends "login/header.html" %}

{% block content %}

<title>About</title>

<p>Hi we are code for change. Here are people who worked on it:</p>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Kishore</td>
      <td>HMM</td>
      <td>HMM</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Pranesh</td>
      <td>HMM</td>
      <td>HMM</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>DAvid</td>
      <td>HmM</td>
      <td>Hmm</td>
    </tr>
  </tbody>
</table>




{% endblock %}
