<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'personal/Inventory.css' %}" />
</head>
<body>
    <form method="post" class="signup">
        <center>
            <h2>Sign Up</h2>
        </center>
        <input type="text" name="su_name" placeholder="First Name" />
        <input type="text" name="su_email" placeholder="Email" />
        <input type="password" name="su_password" placeholder="Password" />
        <input type="submit" value="Sign Up" name="su_SignUp" />
        
    </form>
</body>
</html>